.container {
  position: absolute;
  top: 20px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.container h2 {
  font-size: 5rem;
}
.container h3 {
  color: #e73430;
}

.container a {
  font-size: 1.4rem;
}

.settingsContainer {
  display: flex;
  flex-flow: column;
  align-items: start;
  padding-top: 2rem;
}

.optionBlock {
  margin-bottom: 1rem;
  text-align: left;
}
.optionBlock button {
  margin-right: 1rem;
}

.message {
  margin-top: 20px;
}

.errorMessage {
  font-size: 1.4rem;
  color: #e73430;
}

.inputLabel {
  margin-bottom: 2px;
}
